<div class="jumbotron text-center">
    <div class="background-image"></div>
    <div class="overlay"></div>
    <div class="caption">
        <h1>News Scraper</h1>
        <p>All the News that's Fit to Scrape</p>
    </div>
</div>
