<div class="jumbotron text-center">
    <div class="background-image"></div>
    <div class="overlay"></div>
    <div class="caption">
        <h1>{{title}}</h1>
        <p>{{subtitle}}</p>
    </div>
</div>
