<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary ps-2">
    <a href="/" class="navbar-brand" title="{{title}}"><span class="fas fa-newspaper"></span></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#news-nav" aria-controls="news-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="news-nav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item{{#if indexRoute}} active{{/if}}">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item{{#if savedRoute}} active{{/if}}">
                <a href="/saved" class="nav-link">Saved Articles</a>
            </li>
        </ul>
        {{#if indexRoute}}
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="#" class="btn btn-info scrape-new">
                    <span class="fas fa-cloud-download-alt"></span>&nbsp;&nbsp;Scrape New Articles!</a>
            </li>
            <li class="nav-item">
                <a href="#" class="btn btn-danger clear">
                    <span class="far fa-trash-alt"></span>&nbsp;&nbsp;Clear Content!</a>
            </li>
        {{/if}}
        </ul>
    </div>
</nav>
