<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{#if csrfMeta}}
        <meta name="_csrf" content="{{csrfMeta}}">
    {{/if}}
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/lib/fontawesome/all.min.js"></script>
</head>
<body>
    {{>navbar}}
    {{>jumbotron}}
    <div class="container-fluid article-container">
        {{{body}}}
    </div>
    {{>footer}}
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/popper.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
{{#if indexRoute}}
    <script src="/js/index.js"></script>
{{/if}}
{{#if savedRoute}}
    <script src="/js/vendor/bootbox.min.js"></script>
    <script src="/js/saved.js"></script>
{{/if}}
</body>
</html>
