{{#if indexRoute}}
    <div class="shadow alert alert-warning text-center">
        <h4>Uh Oh. Looks like we don't have any articles.</h4>
    </div>
    <div class="card">
        <div class="card-header d-block">
            <h3 class="text-center">What Would You Like to Do?</h3>
        </div>
        <div class="card-body text-center">
            <h4><a href="#" class="scrape-new">Try Scraping New Articles</a></h4>
            <h4><a href="/saved" class="go-to-saved">Go to Saved Articles</a></h4>
        </div>
    </div>
{{/if}}
{{#if savedRoute}}
    <div class="shadow alert alert-warning text-center">
        <h4>Uh Oh. Looks like we don't have any saved articles.</h4>
    </div>
    <div class="card">
        <div class="card-header d-block">
            <h3 class="text-center">Would You Like to Browse Available Articles?</h3>
        </div>
        <div class="card-body text-center">
            <h4><a href="/" class="browse-articles">Browse Articles</a></h4>
        </div>
    </div>
{{/if}}
